<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

	<Properties>
		<Property name="basePath">src/main/logs</Property>
		<Property name="parentPackage">com.fdmgroup.spring.timothy_chai_ecommerce_project</Property>
	</Properties>


	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%-5p | [%t] %C{2} (%F:%L) - %m%n" />
		</Console>
		<File name="customerLog" fileName="${basePath}/customer-log.log"
			append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		<File name="productLog" fileName="${basePath}/product-log.log"
			append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>



	</Appenders>

	<Loggers>
		<Root level="trace">

		</Root>


		<Logger
			name="com.fdmgroup.spring.timothy_chai_ecommerce_project.controller.CustomerController"
			level="trace">
			<AppenderRef ref="customerLog"></AppenderRef>
			<AppenderRef ref="STDOUT"></AppenderRef>
		</Logger>

		<Logger name="com.fdmgroup.spring.timothy_chai_ecommerce_project.controller.ProductController"
			level="info">
			<AppenderRef ref="runnerlogfile"></AppenderRef>
			<AppenderRef ref="STDOUT"></AppenderRef>
		</Logger>



	</Loggers>

</Configuration>