@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
body{
    /* font-family: Arial, sans-serif; */
    font-family: "Poppins";
    
}

.market{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    margin: 1vh 0;
    background-image: linear-gradient(to right, #e7d0ec, #b998ff);
}

.page-title{
    font-family: 'Kalam';
    font-size: 800;
    text-align: center;
}

button{
    padding:5px;
    margin:5px 5px 5px 0;
}

.product-container {
    width: 30vh;
    height: auto;
    border: 2px black;
    margin: 5px;
}

.product-container img{
    height:200px;
    width:200px;
}

.cart-icon img{
    position: fixed;
    bottom: 2vh; right: 4vh;
    width: 7.5vh; height: 7.5vh;
}

.hidden{
    display: none;
}

#cart-container{
    border: 2px black;
    align-content: right;
}

#myList{
    width: auto;
   

    th {
        text-align: left;
        padding: 0 10px;
    }
    td {
        padding: 0 10px;
    }
}


