<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>

<body>
    <h1 class="page-title"><a th:href="@{/}">SNACK SHACK</a></h1>
    <h1 th:text="'Welcome ' + ${session.customer.username}"></h1>


    <div class="market">
        <th:block th:if="${session.isLoggedIn}">
            <form th:action="@{/product/dashboard}" id="category-selector" method="GET">
                <select name="selectedCategory">
                    <option value="all" selected>All</option>
                    <option th:each="category : ${categories}" th:value="${category}">[[${category}]]</option>
                </select>
                <button type="submit">Filter</button>
            </form>
            <div class="all-products">
                <div class="product-container" th:each="product : ${products}">
                    <h2 th:text="${product.productName}"></h2>
                    <img th:src="${product.imgURL}" alt="${product.productName}">
                    <p th:text="${product.price}" class="price-element"></p>
                    <p th:text="'Available stock: '+${product.stock}"></p>
                    <form th:action="@{/addToCart(productID=${product.productID})}" method="POST">
                        <input type="number" name="quantity" min="1" value="1">
                        <button type="submit">Add To Cart</button>
                    </form>
                    <form th:action="@{/customer/addToLikes(productID=${product.productID})}" method="POST">
                        <button type="submit">Add To Likes</button>
                    </form>
                </div>
            </div>
            
            <div id="cart-container" class="">
                <table id="myList" th:sort="productID">
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                        <th>
                            <form th:action="@{/refresh}" method="POST">
                                <button type="submit">Refresh</button>
                            </form>
                        </th>
                    </tr>
                    <tr th:each="cartItem : ${session.customer.cart.items}" >
                        <td th:text="${cartItem.product.productName}"></td>
                        <td>
                            <form th:action="@{/updateCartItemQuantity}" method="POST">
                                <input type="hidden" th:value="${cartItem.product.productID}" name="productID">
                                <span th:text="${cartItem.productQuantity}"
                                    id="quantity-{{cartItem.product.productID}}"></span>
                                <button type="submit" name="updateQuantity" value="plus">+</button>
                                <button type="submit" name="updateQuantity" value="minus">-</button>
                            </form>
                        </td>
                        <td th:text="${cartItem.product.price}" class="price-element"></td>
                        <td th:text="${cartItem.productSubtotal}" class="price-element"></td>
                        <td>
                            <form th:action="@{/removeFromCart}" method="POST">
                                <input type="hidden" th:value="${cartItem.product.productID}" name="productID">
                                <input type="hidden" th:value="${cartItem.productQuantity}" name="productQuantity">
                                <button type="submit">Remove All</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" text-align="right"><b>Cart Total:</b></td>
                        <td th:text="${session.customer.cart.totalPrice}" class="price-element"></td>
                    </tr>
                    <tr>
                        <!-- <td colspan="4"></td> -->
                        <td colspan="5" text-align="right" id="checkout-row">
                            <form th:action="@{/checkout}" method="POST">
                                <b>Checkout:</b>
                                <button type="submit">Checkout</button>
                            </form>
                        </td>

                    </tr>
                </table>
                
                <div id="likes-container">
                    <table id="likes">
                        <tr>
                            <th>Likes</th>
                        </tr>
                        <tr th:each="product : ${session.customer.likes}">
                            <td th:text="${product.productName}"></td>
                            <td>
                                <form th:action="@{/updateCartItemQuantity}" method="POST">
                                    <input type="hidden" th:value="${product.productID}" name="productID">
                                    <button type="submit" name="updateQuantity" value="plus">Add To Cart</button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{/customer/removeFromLikes}" method="POST">
                                    <input type="hidden" th:value="${product.productID}" name="productID">
                                    <button type="submit">Remove</button>
                                </form>
                            </td>
                            
                        </tr>
                    </table>
                   
                </div>
            </div>

            <div class="cart-icon" id="toggle-cart-icon" onclick="toggleTable()">
                <img src="https://static-00.iconduck.com/assets.00/shopping-cart-icon-512x462-yrde1eu0.png" alt="Icon">
            </div>
        </th:block>
        <th:block th:unless="${session.isLoggedIn}">
            <p>Please login to view products.</p>
            <a href="@{/customer/login}">Login</a>
        </th:block>
    </div>
    <script>
        function toggleTable() {
            var table = document.getElementById("cart-container");
            table.classList.toggle("hidden");
        }
        const priceElements = document.querySelectorAll('.price-element');

        priceElements.forEach(element => {
            const price = parseFloat(element.textContent);
            element.textContent = '$' + price.toFixed(2);
        });
    </script>

</body>

</html>